<div id="gamer-tags" class="info-overlay">
    <div class="menu-container is-menu-open">
        <button id="btn-close-gamer-tags" class="hamburger-menu btn-overlay-close"> 
            <div class="bar animate"></div> 
        </button>
    </div>
    <ul>
        <li class="animated">elite dangerous: cmdr sg46</li>
        <li class="animated"><a href="http://members.iracing.com/membersite/member/myracers.jsp?drivername=Rob+James+Harris">iracing: rob james harris</a></li>
        <li class="animated">battle.net: sg46#1259</li>
        <li class="animated">steam: sg46</li>
        <li class="animated">origin: sg046</li>
        <li class="animated">gta5: sg4601</li>
        <li class="animated">xbox: sg046</li>
        <li class="animated">playstation: sg4601</li>
    </ul>
</div>