@import 'https://fonts.googleapis.com/css?family=Ubuntu:400,400i';
@font-face {
    font-family: 'norwesterregular';
    src: url('/fonts/norwester-webfont.eot');
    src: url('/fonts/norwester-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/norwester-webfont.woff2') format('woff2'), url('/fonts/norwester-webfont.woff') format('woff'), url('/fonts/norwester-webfont.svg#norwesterregular') format('svg');
    font-weight: normal;
    font-style: normal
}
@font-face {
    font-family: 'fontello';
    src: url('/fonts/fontello.eot?96165980');
    src: url('/fonts/fontello.eot?96165980#iefix') format('embedded-opentype'), url('/fonts/fontello.woff2?96165980') format('woff2'), url('/fonts/fontello.woff?96165980') format('woff'), url('/fonts/fontello.ttf?96165980') format('truetype'), url('/fonts/fontello.svg?96165980#fontello') format('svg');
    font-weight: normal;
    font-style: normal
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-code:before {
    content: '\e800';
}
.icon-file-image:before {
    content: '\e801';
}
.icon-info:before {
    content: '\e802';
}
.icon-gamepad:before {
    content: '\e803';
}
.icon-camera:before {
    content: '\e804';
}
.icon-globe:before {
    content: '\e805';
}
.icon-youtube-play:before {
    content: '\e806';
}
.icon-left-open-1:before {
    content: '\e80b';
}
.icon-right-open-1:before {
    content: '\e80c';
}
.clearfix {
    *zoom: 1;
}
.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}
.clearfix:after {
    clear: both;
}
.hide-text {
    font: 0/0;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block;
}
audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1
}
audio:not([controls]) {
    display: none;
}
html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
a:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
a:hover,
a:active {
    outline: 0;
}
sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
img {
    display: block;
    width: 100%;
    width: auto\9;
    height: auto;
    vertical-align: middle;
    border: 0;
    margin: 0;
    -ms-interpolation-mode: bicubic;
}
i,
em {
    font-family: "Ubuntu", Verdana, Helvetica, sans-serif;
    font-style: italic;
    font-weight: normal;
}
button,
input,
select,
textarea {
    margin: 0;
    font-size: 100%;
    vertical-align: middle;
}
button,
input {
    *overflow: visible;
    line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
    cursor: pointer;
}
input[type="search"] {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}
textarea {
    overflow: auto;
    vertical-align: top;
}
a {
    text-decoration: none;
    cursor: pointer;
}
a:hover,
a:focus {
    text-decoration: none;
}
html,
body {
    font-family: "norwesterregular", Verdana, Helvetica, sans-serif;
    font-weight: normal;
    width: 100%;
    height: 100%;
    line-height: 150%;
    color: #fff;
    background-color: #000;
    margin: 0;
    padding: 0;
    outline: 0;
}
html {
    overflow: hidden;
}
html.scroll,
html.scroll body {
    overflow-y: auto;
    height: auto;
    min-height: 100%;
}
html#work {
    overflow-y: auto;
}
html.noscroll {
    position: fixed;
    overflow-y: scroll;
    width: 100%;
    z-index: 1999;
}
* {
    outline: none !important;
}
button {
    font-family: "norwesterregular", Verdana, Helvetica, sans-serif;
    font-weight: normal;
}
@-webkit-keyframes elitedangerous {
    0 {
        opacity: 1;
    }
    16.666% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@-moz-keyframes elitedangerous {
    0 {
        opacity: 1;
    }
    16.666% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes elitedangerous {
    0 {
        opacity: 1;
    }
    16.666% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.loader {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10000;
    background-color: #fff50f;
    display: block;
}
.triangles {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    height: 112px;
    width: 129px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}
.tri {
    position: absolute;
    -webkit-animation: elitedangerous 750ms ease-in infinite;
    -moz-animation: elitedangerous 750ms ease-in infinite;
    animation: elitedangerous 750ms ease-in infinite;
    border-top: 28px solid #000;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-bottom: 0;
    -webkit-backface-visibility: hidden;
}
.tri.invert {
    border-top: 0;
    border-bottom: 28px solid #000;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
}
.tri:nth-child(1) {
    top: 0;
    left: 16px;
}
.tri:nth-child(2) {
    top: 0;
    left: 32px;
    -webkit-animation-delay: 58.82ms;
    -moz-animation-delay: 58.82ms;
    animation-delay: 58.82ms;
}
.tri:nth-child(3) {
    top: 0;
    left: 48px;
    -webkit-animation-delay: 117.64ms;
    -moz-animation-delay: 117.64ms;
    animation-delay: 117.64ms;
}
.tri:nth-child(4) {
    top: 0;
    left: 64px;
    -webkit-animation-delay: 176.46ms;
    -moz-animation-delay: 176.46ms;
    animation-delay: 176.46ms;
}
.tri:nth-child(5) {
    top: 0;
    left: 80px;
    -webkit-animation-delay: 235.28ms;
    -moz-animation-delay: 235.28ms;
    animation-delay: 235.28ms;
}
.tri:nth-child(11) {
    top: 28px;
    left: 80px;
    -webkit-animation-delay: 294.10ms;
    -moz-animation-delay: 294.10ms;
    animation-delay: 294.10ms;
}
.tri:nth-child(12) {
    top: 28px;
    left: 96px;
    -webkit-animation-delay: 352.92ms;
    -moz-animation-delay: 352.92ms;
    animation-delay: 352.92ms;
}
.tri:nth-child(19) {
    top: 56px;
    left: 96px;
    -webkit-animation-delay: 411.74ms;
    -moz-animation-delay: 411.74ms;
    animation-delay: 411.74ms;
}
.tri:nth-child(18) {
    top: 56px;
    left: 80px;
    -webkit-animation-delay: 470.56ms;
    -moz-animation-delay: 470.56ms;
    animation-delay: 470.56ms;
}
.tri:nth-child(24) {
    left: 80px;
    top: 84px;
    -webkit-animation-delay: 529.38ms;
    -moz-animation-delay: 529.38ms;
    animation-delay: 529.38ms;
}
.tri:nth-child(23) {
    left: 64px;
    top: 84px;
    -webkit-animation-delay: 588.20ms;
    -moz-animation-delay: 588.20ms;
    animation-delay: 588.20ms;
}
.tri:nth-child(22) {
    left: 48px;
    top: 84px;
    -webkit-animation-delay: 647.02ms;
    -moz-animation-delay: 647.02ms;
    animation-delay: 647.02ms;
}
.tri:nth-child(21) {
    left: 32px;
    top: 84px;
    -webkit-animation-delay: 705.84ms;
    -moz-animation-delay: 705.84ms;
    animation-delay: 705.84ms;
}
.tri:nth-child(20) {
    left: 16px;
    top: 84px;
    -webkit-animation-delay: 764.66ms;
    -moz-animation-delay: 764.66ms;
    animation-delay: 764.66ms;
}
.tri:nth-child(14) {
    top: 56px;
    left: 16px;
    -webkit-animation-delay: 823.48ms;
    -moz-animation-delay: 823.48ms;
    animation-delay: 823.48ms;
}
.tri:nth-child(13) {
    top: 56px;
    left: 0;
    -webkit-animation-delay: 882.30ms;
    -moz-animation-delay: 882.30ms;
    animation-delay: 882.30ms;
}
.tri:nth-child(6) {
    top: 28px;
    left: 0;
    -webkit-animation-delay: 941.12ms;
    -moz-animation-delay: 941.12ms;
    animation-delay: 941.12ms;
}
.tri:nth-child(7) {
    top: 28px;
    left: 16px;
    -webkit-animation-delay: 1000ms;
    -moz-animation-delay: 1000ms;
    animation-delay: 1000ms;
}
.tri:nth-child(9) {
    top: 28px;
    left: 48px;
    -webkit-animation-delay: 117.64ms;
    -moz-animation-delay: 117.64ms;
    animation-delay: 117.64ms;
}
.tri:nth-child(10) {
    top: 28px;
    left: 64px;
    -webkit-animation-delay: 235.28ms;
    -moz-animation-delay: 235.28ms;
    animation-delay: 235.28ms;
}
.tri:nth-child(17) {
    top: 56px;
    left: 64px;
    -webkit-animation-delay: 360ms;
    -moz-animation-delay: 360ms;
    animation-delay: 360ms;
}
.tri:nth-child(16) {
    top: 56px;
    left: 48px;
    -webkit-animation-delay: 480ms;
    -moz-animation-delay: 480ms;
    animation-delay: 480ms;
}
.tri:nth-child(15) {
    top: 56px;
    left: 32px;
    -webkit-animation-delay: 600ms;
    -moz-animation-delay: 600ms;
    animation-delay: 600ms;
}
.tri:nth-child(8) {
    top: 28px;
    left: 32px;
    -webkit-animation-delay: 810ms;
    -moz-animation-delay: 810ms;
    animation-delay: 810ms;
}
.pace .pace-progress {
    background: #000;
    position: fixed;
    z-index: 5000;
    top: 0;
    left: 0;
    height: 5px;
    -webkit-transition: width 1s;
    -moz-transition: width 1s;
    -o-transition: width 1s;
    transition: width 1s;
}
.pace-inactive {
    display: none;
}
.font-fix {
    font-size: .96em;
}
#home-outer {
    width: 100%;
    height: 100%;
    color: #000;
    position: relative;
    box-sizing: border-box;
}
#center-line {
    width: 15px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000;
    z-index: 100;
}
#home-inner {
    width: 100%;
    height: 100%;
    background-color: #fff50f;
    position: relative;
    z-index: 99;
    box-sizing: border-box;
}
nav {
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: absolute;
}
nav ul {
    padding: 0;
    margin: 0;
    width: auto;
}
nav ul li {
    list-style: none;
    display: block;
}
nav ul li a {
    display: block;
}
.nav-links {
    width: 50%;
    height: 0%;
    display: block;
    float: left;
    position: relative;
}

#home-outer .nav-links {
    height: 100%;
    display: none;
}

.nav-section {
    display: none;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 200;
}

#home-outer .nav-section {
    display: none;
}
.nav-section a,
.nav-section button {
    font-size: 2em;
    line-height: 1.25em;
    color: #000;
}
.nav-section button {
    border: 0;
    background-color: transparent;
    padding: 0;
    margin: 0;
}
.hamburger-menu {
    position: absolute;
    top: 2%;
    left: .5%;
    margin: auto;
    width: 64px;
    height: 40px;
    cursor: pointer;
    background: transparent;
    border: 0;
    z-index: 1000;
}
.bar,
.bar:after,
.bar:before {
    width: 50px;
    height: 7px;
    -webkit-backface-visibility: hidden;
}
.bar {
    position: relative;
}
#home-outer .bar.animate {
    background: rgba(255, 255, 255, 0);
}
#home-outer .bar:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 15px;
    transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
#home-outer .bar:after {
    content: "";
    position: absolute;
    left: 0;
    top: 15px;
    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
#home-outer .bar.animate:after {
    top: 0;
    transform: rotate(45deg);
    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
#home-outer .bar.animate:before {
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

#home-outer .bar,
#home-outer .bar:before,
#home-outer .bar:after {
    background-color: #000;
}

.nav-container-animation .bar.animate {
    background: rgba(255, 255, 255, 0);
    transition: background-color 1000ms linear;
}
.nav-container-animation .bar:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 15px;
    transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), background-color 1000ms linear;
}
.nav-container-animation .bar:after {
    content: "";
    position: absolute;
    left: 0;
    top: 15px;
    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), background-color 1000ms linear;
}
.nav-container-animation .bar.animate:after {
    top: 0;
    transform: rotate(45deg);
    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), background-color 1000ms linear;
}
.nav-container-animation .bar.animate:before {
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), background-color 1000ms linear;
}  

.nav-container-animation .bar,
.nav-container-animation .bar:before,
.nav-container-animation .bar:after {
    background-color: #fff;
}

.nav-container-animation .bar.animate:before,
.nav-container-animation .bar.animate:after {
    background-color: #000;
}

.play-container .bar,
.play-container .bar:before,
.play-container .bar:after {
    background-color: #fff50f;
}

.nav-container-animation .bar.animate,
#home-outer .bar.animate {
    background: rgba(255, 255, 255, 0);
}

#logo {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15%;
    max-width: 250px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 201;
}
#video-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #fff50f;
}
#play-video #video-bg {
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-color: transparent;
}
.info-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9998;
    background-color: #fff50f;
    color: #000;
    display: none;
    opacity: 0;
    font-size: 1.8em;
    line-height: 1.25em;
}
.info-overlay .btn-overlay-close {
    top: 2%;
    left: .5%;
}
.info-overlay ul {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 2;
}
.info-overlay ul li a {
    color: #000;
    text-decoration: underline;
}

#work-outer .info-overlay ul li a {
    color: #ffffff;
}

#center-section {
    width: 100%;
    height: 100%;
    position: relative;
}
#center-section #left {
    float: left;
    display: block;
    width: 50%;
    height: 100%;
    position: relative;
}
#center-section #right {
    float: right;
    display: block;
    width: 50%;
    height: 100%;
    position: relative;
}
#center-section a,
#center-section a:hover {
    color: #000;
}
.text {
    display: block;
}
.text span {
    display: block;
    margin-bottom: .5em;
}
.text span:last-child {
    margin-bottom: 0;
}
#center-section #left .text,
#center-section #right .text {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
}
#center-section #left .text {
    left: 3%;
    font-size: 3em;
}
#center-section #right .text {
    right: 3%;
    font-size: 3em;
}
#center-section #left .icon-code,
#center-section #right .icon-gamepad {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 201;
    font-size: 6em;
    display: block;
}
#social {
    width: 96%;
    padding: 0 2%;
    position: absolute;
    bottom: 2%;
    font-size: 2em;
}
#social a {
    color: #000;
}
#social .twitter {
    float: left;
    display: block;
}
#social .instagram {
    float: right;
    display: block;
}
.nav-container .nav-logo {
    position: absolute;
    z-index: 9999;
    top: 2%;
    right: 1%;
    width: 88px;
}

.nav-container .nav-logo img:nth-child(2) {
    display: none;
}

.nav-container .nav-links {
    width: 100%;
    background-color: #fff50f;
    z-index: 999;
}

.play-container .info-overlay .btn-overlay-close {
    top: 2%;
    left: .5%;
}
#play-video {
    width: 100%;
    height: 100%;
    position: relative;
}
video {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
}
#video-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: url("/img/bg-overlay.png") repeat 0 0;
    z-index: 1;
}
#video-game-logo {
    position: absolute;
    display: block;
    top: 12%;
    right: 8%;
    width: 25%;
    z-index: 5;
}
.prev {
    position: absolute;
    top: 50%;
    right: .5%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 3em;
    color: #fff;
    z-index: 5;
}
.next {
    position: absolute;
    top: 50%;
    left: .5%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 3em;
    color: #fff;
    z-index: 5;
}
.content {
    width: 50%;
    position: absolute;
    bottom: 2%;
    left: 2%;
    z-index: 5;
}
.content h2 {
    text-transform: uppercase;
    color: #fff50f;
    font-size: 3em;
    line-height: 1.5em;
    letter-spacing: 1px;
    font-style: normal;
    font-weight: 400;
    margin: 1% 0;
}
.content p {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    line-height: 1.5em;
    margin: 1% 0;
}
.content p a {
    color: #fff50f;
}
.right-align-btn {
    position: absolute;
    right: 1%;
    bottom: 1%;
    z-index: 5;
    color: #fff;
    margin-left: .2em;
    margin-right: .2em;
    width: 1em;
}
.youtube-button {
    font-size: 6em;
}
#info-button {
    background-color: transparent;
    color: #fff;
    border: 0;
    font-size: 3em;
    margin: 0;
    padding: 0;
}
#info-button.icon-info:before {
    margin: 0;
    padding: 0;
    width: auto;
}
#info-overlay ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-transform: uppercase;
}
#play-photo #info-overlay ul {
    font-size: .75em;
}
#work-outer {
    width: 100%;
    height: 100%;
    min-height: 100%;
}

.work-section {
    display: block;
    float: left;
    position: relative;
    width: 50%;
    height: 100%;
    margin: 0;
    background: center top no-repeat;
    background-size: cover;
}
.work-section .image-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(/img/bg-overlay.png) repeat 0 0;
    z-index: 1;
}

.work-content-section {
    position: absolute;
    bottom: 5%;
    left: 50%;
    width: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
    z-index: 5;
}
    
.work-content-section img {
    max-width: 100%;
    width: 50%;
    display: inline;
}
.work-content-section .hr {
    width: 50%;
    height: 2px;
    background-color: #fff;
    color: #fff;
    display: inline-block;
}
.work-content-section h2 {
    font-size: 2.5em;
    line-height: 1.25em;
    margin: 2% auto;
    font-style: normal;
    font-weight: 400;
    width: 75%;
}
.work-content-section .buttons {
    display: inline-block;
}
.work-content-section .buttons a,
.work-content-section .buttons button {
    border: 0;
    outline: 0;
    background-color: transparent;
    color: #fff;
    font-size: 3em;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
}

#work-outer .info-content {
    background-size: cover;
    display: none;
    width: 100%;
    height: 100%;
    color: #ffffff;
}

.info-content h2, 
.info-content h3 {
    margin-top: 0;
    margin-bottom: 5%;
}

.info-content h2 {
    font-size: 1.25em;
}

.info-content h3 {
    font-size: 1em;
}

.scroll-arrow {
    position: fixed;
    bottom: 1%;
    left: 50%;
    -webkit-transform: translateX(-50%) rotate(-90deg);
    -moz-transform: translateX(-50%) rotate(-90deg);
    -ms-transform: translateX(-50%) rotate(-90deg);
    -o-transform: translateX(-50%) rotate(-90deg);
    transform: translateX(-50%) rotate(-90deg);
    font-size: 3em;
    z-index: 5;
}
#fourohfour .nav-logo {
    position: absolute;
    z-index: 9999;
    top: 2%;
    right: 1%;
    width: 88px;
}
@media screen and (max-width: 950px) {
    #center-section #left .icon-code {
        left: 45%;
    }
    #center-section #right .icon-gamepad {
        left: 55%;
    }
}
@media screen and (max-width: 850px) {
    .work-content-section h2 {
        width: 90%;
        font-size: 1.5em;
    }
    .scroll-arrow {
        font-size: 2.2em;
    }
    .work-content-section .buttons a,
    .work-content-section .buttons button {
        font-size: 2.2em;
    }
    #center-section #left .icon-code {
        left: 40%;
    }
    #center-section #right .icon-gamepad {
        left: 60%;
    }
}
@media screen and (max-width: 767px) {
    .nav-container .nav-logo {
        width: 50px;
    }
    #center-line {
        display: none;
    }
    .font-fix {
        font-size: 1em;
    }
    .bar,
    .bar:after,
    .bar:before {
        width: 40px;
        height: 6px;
    }
    .bar:before {
        bottom: 13px;
    }
    .bar:after {
        top: 13px;
    }
    .nav-section a,
    .nav-section button {
        font-size: 1.5em;
    }
    .info-overlay {
        font-size: 1.5em;
    }
    .play-container .nav-logo {
        width: 40px;
        margin-right: 1%;
    }
    #video-game-logo {
        width: 50%;
        top: 20%;
        right: 50%;
        -webkit-transform: translateX(50%);
        -moz-transform: translateX(50%);
        -ms-transform: translateX(50%);
        -o-transform: translateX(50%);
        transform: translateX(50%);
    }
    .content h2 {
        font-size: 1.5em;
        line-height: 1.2em;
    }
    .content p {
        display: none;
    }
    .youtube-button {
        font-size: 3em;
    }
    .prev,
    .next {
        font-size: 2em;
    }
    .play-container .nav-links,
    #work-outer .nav-links {
        height: 100%;
    }
    #info-button {
        font-size: 2em;
    }
    .work-section {
        width: 100%;
    }
    #work-outer .nav-links .nav-section {
        top: 50%;
    }
    #center-section #left .icon-code,
    #center-section #right .icon-gamepad {
        left: 50%;
    }
}
@media screen and (max-width: 480px) {
    #logo {
        top: 2%;
        right: 2%;
        left: auto;
        width: 13%;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
    }
    .nav-links {
        width: 100%;
        height: 50%;
        float: none;
        text-align: center;
    }
    .nav-section a,
    .nav-section button {
        font-size: 1em;
    }
    .info-overlay {
        font-size: .9em;
        text-align: center;
    }
    #center-section #left,
    #center-section #right {
        float: none;
        width: 100%;
        height: 50%;
    }
    #center-section #left .icon-code,
    #center-section #right .icon-gamepad {
        font-size: 5.5em;
    }
    #center-section #left .icon-code {
        -webkit-transform: translate(-50%, -125%);
        -moz-transform: translate(-50%, -125%);
        -ms-transform: translate(-50%, -125%);
        -o-transform: translate(-50%, -125%);
        transform: translate(-50%, -125%);
    }
    #center-section #right .icon-gamepad {
        -webkit-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
    #center-section #left .text,
    #center-section #right .text {
        display: none;
    }
    .text span {
        margin-bottom: .25em;
    }
    #social {
        font-size: 1.25em;
    }
    .work-content-section h2 {
        font-size: 1.5em;
        width: 90%;
    }
    .work-content-section .buttons a,
    .work-content-section .buttons button {
        font-size: 2em;
    }
    .scroll-arrow {
        font-size: 1.5em;
    }
    #work.nav-section {
        top: 40%;
    }
    #play.nav-section {
        top: 60%;
    }
}
@media screen and (max-width: 500px) and (max-height: 340px) {
    .nav-section a,
    .nav-section button {
        font-size: 1em;
    }
    .info-overlay {
        font-size: 1em;
    }
    #center-section #left .text,
    #center-section #right .text {
        font-size: 2em;
    }
    #center-section #left .icon-code,
    #center-section #right .icon-gamepad {
        font-size: 3em;
    }
    #social {
        font-size: 1em;
    }
    .work-content-section h2 {
        font-size: 1.5em;
        width: 90%;
    }
    .work-content-section .buttons a,
    .work-content-section .buttons button {
        font-size: 2em;
    }
    .scroll-arrow {
        font-size: 1.5em;
    }
}
@media screen and (max-width: 980px) and (orientation: landscape) {
    #video-bg {
        background-repeat: no-repeat;
        background-position: center 32%;
    }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    #video-bg {
        display: block;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        background-color: #fff50f;
    }
}
body .mc-cycle {
    z-index: 1 !important;
}
.cd-container {
    width: 90%;
    margin: 0 auto;
}
.cd-container::after {
    content: '';
    display: table;
    clear: both;
}
#timeline.info-overlay {
    height: auto;
    min-height: 100%;
    overflow-y: scroll;
    opacity: 1;
}
#cd-timeline {
    position: relative;
    padding: 2em 0;
    margin-top: 2em;
    margin-bottom: 2em;
    display: none;
}
#cd-timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 4px;
    background: #000;
}
@media only screen and (min-width: 1170px) {
    #cd-timeline {
        margin-top: 3em;
        margin-bottom: 3em;
    }
    #cd-timeline::before {
        left: 50%;
        margin-left: -2px;
    }
}
@media only screen and (max-width: 768px) {
    #cd-timeline {
        margin-top: 6em;
    }
}
.cd-timeline-block {
    position: relative;
    margin: 0 0 3em 0;
    display: block;
    font-size: #000;
}
.cd-timeline-content:visited,
.cd-timeline-content:active,
.cd-timeline-content:link,
.cd-timeline-content:hover {
    color: #000;
}
.cd-timeline-block:after {
    content: "";
    display: table;
    clear: both;
}
.cd-timeline-img {
    position: absolute;
    width: 60px;
    left: 50%;
    top: 50%;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    transform: translate(-50%, -50%);
}
@media only screen and (max-width: 768px) {
    .cd-timeline-img {
        left: 5%;
        width: 40px;
    }
}
.cd-timeline-content {
    position: relative;
    background: transparent;
    text-align: center;
    display: block;
}
.cd-timeline-content:after {
    content: "";
    display: table;
    clear: both;
}
.cd-timeline-content img {
    width: 40%;
    display: inline-block;
}
@media only screen and (max-width: 768px) {
    .cd-timeline-content.photography img {
        width: 20%;
    }
}
.cd-timeline-content h2 {
    color: #303e49;
}
.cd-timeline-content p,
.cd-timeline-content .cd-read-more,
.cd-timeline-content .cd-date {
    font-size: 13px;
    font-size: .8125rem;
}
.cd-timeline-content p {
    margin: 1em 0;
    line-height: 1.6em;
}
.cd-timeline-content .cd-date {
    float: left;
    padding: .8em 0;
    opacity: .7;
}
@media only screen and (min-width: 768px) {
    .cd-timeline-content h2 {
        font-size: 20px;
        font-size: 1.25rem;
    }
    .cd-timeline-content p {
        font-size: 16px;
        font-size: 1.2rem;
    }
    .cd-timeline-content .cd-read-more,
    .cd-timeline-content .cd-date {
        font-size: 14px;
        font-size: .875rem;
    }
}
@media only screen and (min-width: 1170px) {
    .cd-timeline-content {
        margin-left: 0;
        margin: 0;
        width: 45%;
    }
    .cd-timeline-content .cd-read-more {
        float: left;
    }
    .cd-timeline-content .cd-date {
        position: absolute;
        width: 100%;
        left: 122%;
        top: 6px;
        font-size: 16px;
        font-size: 1rem;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content {
        float: right;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
        top: 24px;
        left: auto;
        right: 100%;
        border-color: transparent;
        border-right-color: white;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
        float: right;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
        left: auto;
        right: 122%;
        text-align: right;
    }
    .cssanimations .cd-timeline-content.is-hidden {
        visibility: hidden;
    }
    .cssanimations .cd-timeline-content.bounce-in {
        visibility: visible;
        -webkit-animation: cd-bounce-2 .6s;
        -moz-animation: cd-bounce-2 .6s;
        animation: cd-bounce-2 .6s;
    }
}
@media only screen and (min-width: 1170px) {
    .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
        -webkit-animation: cd-bounce-2-inverse .6s;
        -moz-animation: cd-bounce-2-inverse .6s;
        animation: cd-bounce-2-inverse .6s;
    }
}
@-webkit-keyframes cd-bounce-2 {
    0 {
        opacity: 0;
        -webkit-transform: translateX(-100px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(20px);
    }
    100% {
        -webkit-transform: translateX(0);
    }
}
@-moz-keyframes cd-bounce-2 {
    0 {
        opacity: 0;
        -moz-transform: translateX(-100px);
    }
    60% {
        opacity: 1;
        -moz-transform: translateX(20px);
    }
    100% {
        -moz-transform: translateX(0);
    }
}
@keyframes cd-bounce-2 {
    0 {
        opacity: 0;
        -webkit-transform: translateX(-100px);
        -moz-transform: translateX(-100px);
        -ms-transform: translateX(-100px);
        -o-transform: translateX(-100px);
        transform: translateX(-100px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(20px);
        -moz-transform: translateX(20px);
        -ms-transform: translateX(20px);
        -o-transform: translateX(20px);
        transform: translateX(20px);
    }
    100% {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}
@-webkit-keyframes cd-bounce-2-inverse {
    0 {
        opacity: 0;
        -webkit-transform: translateX(100px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(-20px);
    }
    100% {
        -webkit-transform: translateX(0);
    }
}
@-moz-keyframes cd-bounce-2-inverse {
    0 {
        opacity: 0;
        -moz-transform: translateX(100px);
    }
    60% {
        opacity: 1;
        -moz-transform: translateX(-20px);
    }
    100% {
        -moz-transform: translateX(0);
    }
}
@keyframes cd-bounce-2-inverse {
    0 {
        opacity: 0;
        -webkit-transform: translateX(100px);
        -moz-transform: translateX(100px);
        -ms-transform: translateX(100px);
        -o-transform: translateX(100px);
        transform: translateX(100px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(-20px);
        -moz-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
        -o-transform: translateX(-20px);
        transform: translateX(-20px);
    }
    100% {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}