---
layout: compress
videoURL: 404
---
{% include head-top.html  %}
{% include head-bottom.html %}

<section id="fourohfour" class="container">
    {% include nav-404.html %}
    <video id="video" autoplay loop poster="/videos/{{ page.videoURL }}.jpg">
        <source src="/videos/{{ page.videoURL }}.webm" type="video/webm">
        <source src="/videos/{{ page.videoURL }}.mp4" type="video/mp4">
        <source src="/videos/{{ page.videoURL }}.ogv" type="video/ogg">
    </video>
    <div id="video-bg" style="background-image: url(/img/{{ page.videoURL }}.gif)"></div>
</section>

{% include footer-top.html %}

{% javascript_asset_tag js %}
- _assets/js/check-for-mobile.js
{% endjavascript_asset_tag %}

{% include footer-bottom.html %}